<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Id</key>
		<string>1</string>
		<key>createdAt</key>
		<string>1:23</string>
		<key>mbtype</key>
		<string>vip.jpg</string>
		<key>profileImageUrl</key>
		<string>pic1.jpg</string>
		<key>source</key>
		<string>iPhone 1</string>
		<key>text</key>
		<string>标题1  在前面的内容中我们的数据都是手动构建的，在实际开发中自然不会这么做，这里我们不妨将微博数据存储到plist文件中然后从plist文</string>
		<key>userName</key>
		<string>小冰</string>
	</dict>
    <dict>
        <key>Id</key>
        <string>2</string>
        <key>createdAt</key>
        <string>2:23</string>
        <key>mbtype</key>
        <string>vip.jpg</string>
        <key>profileImageUrl</key>
        <string>pic2.jpg</string>
        <key>source</key>
        <string>iPhone 2</string>
        <key>text</key>
        <string>标题2  在前面的内容中我们的数据都是手动构建的，在实际开发中自然不会这么做，这里我们不妨将微博数据存储到plist文件中然后从plist文</string>
        <key>userName</key>
        <string>小冰2</string>
    </dict>
    
    <dict>
        <key>Id</key>
        <string>3</string>
        <key>createdAt</key>
        <string>3:23</string>
        <key>mbtype</key>
        <string></string>
        <key>profileImageUrl</key>
        <string>pic3.jpg</string>
        <key>source</key>
        <string>iPhone 3</string>
        <key>text</key>
        <string>标题3  在前面的内容中我们的数据都是手动构建的，在实际开发中自然不会这么做，这里我们不妨将微博数据存储到plist文件中然后从plist文</string>
        <key>userName</key>
        <string>小冰3</string>
    </dict>
    
    <dict>
        <key>Id</key>
        <string>4</string>
        <key>createdAt</key>
        <string>4:23</string>
        <key>mbtype</key>
        <string></string>
        <key>profileImageUrl</key>
        <string>pic4.jpg</string>
        <key>source</key>
        <string>iPhone 4</string>
        <key>text</key>
        <string>标题4   在前面的内容中我们的数据都是手动构建的，在实际开发中自然不会这么做，这里我们不妨将微博数据存储到plist文件中然后从plist文</string>
        <key>userName</key>
        <string>小冰4</string>
    </dict>
    
    
    <dict>
        <key>Id</key>
        <string>5</string>
        <key>createdAt</key>
        <string>5:23</string>
        <key>mbtype</key>
        <string>vip.jpg</string>
        <key>profileImageUrl</key>
        <string>pic5.jpg</string>
        <key>source</key>
        <string>iPhone 5</string>
        <key>text</key>
        <string>标题5   在前面的内容中我们的数据都是手动构建的，在实际开发中自然不会这么做，这里我们不妨将微博数据存储到plist文件中然后从plist文</string>
        <key>userName</key>
        <string>小冰5</string>
    </dict>
    
    
    <dict>
        <key>Id</key>
        <string>6</string>
        <key>createdAt</key>
        <string>6:23</string>
        <key>mbtype</key>
        <string></string>
        <key>profileImageUrl</key>
        <string>pic6.jpg</string>
        <key>source</key>
        <string>iPhone 6</string>
        <key>text</key>
        <string>标题6   在前面的内容中我们的数据都是手动构建的，在实际开发中自然不会这么做，这里我们不妨将微博数据存储到plist文件中然后从plist文</string>
        <key>userName</key>
        <string>小冰6</string>
    </dict>
    
    
    <dict>
        <key>Id</key>
        <string>7</string>
        <key>createdAt</key>
        <string>7:23</string>
        <key>mbtype</key>
        <string></string>
        <key>profileImageUrl</key>
        <string>pic7.jpg</string>
        <key>source</key>
        <string>iPhone 7</string>
        <key>text</key>
        <string>标题7  在前面的内容中我们的数据都是手动构建的，在实际开发中自然不会这么做，这里我们不妨将微博数据存储到plist文件中然后从plist文</string>
        <key>userName</key>
        <string>小冰2</string>
    </dict>
    
    <dict>
        <key>Id</key>
        <string>8</string>
        <key>createdAt</key>
        <string>8:23</string>
        <key>mbtype</key>
        <string></string>
        <key>profileImageUrl</key>
        <string>pic1.jpg</string>
        <key>source</key>
        <string>iPhone 8</string>
        <key>text</key>
        <string>标题8  在前面的内容中我们的数据都是手动构建的，在实际开发中自然不会这么做，这里我们不妨将微博数据存储到plist文件中然后从plist文</string>
        <key>userName</key>
        <string>小冰8</string>
    </dict>
    
    <dict>
        <key>Id</key>
        <string>9</string>
        <key>createdAt</key>
        <string>9:23</string>
        <key>mbtype</key>
        <string>vip.jpg</string>
        <key>profileImageUrl</key>
        <string>pic2.jpg</string>
        <key>source</key>
        <string>iPhone 9</string>
        <key>text</key>
        <string>标题9  在前面的内容中我们的数据都是手动构建的，在实际开发中自然不会这么做，这里我们不妨将微博数据存储到plist文件中然后从plist文</string>
        <key>userName</key>
        <string>小冰9</string>
    </dict>
    
    <dict>
        <key>Id</key>
        <string>10</string>
        <key>createdAt</key>
        <string>2:23</string>
        <key>mbtype</key>
        <string></string>
        <key>profileImageUrl</key>
        <string>pic4.jpg</string>
        <key>source</key>
        <string>iPhone 2</string>
        <key>text</key>
        <string>标题2</string>
        <key>userName</key>
        <string>小冰2</string>
    </dict>
</array>
</plist>
